services:
  Backend:
    image: api-session15
    depends_on:
      - mongo
    build: .
    ports:
      - 3001:3001
    env_file:
      - .env

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - /data/db
    networks:
      - network1

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: user
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    networks:
      - network1

volumes:
  mongo-volume:


networks:
  network1: